@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --main-color: #8000e1;
  --title-color: #d4d4d4;
  --secondary-color: #6900b9;
  --list-box-width: 1380px;
  --list-width: calc(var(--list-box-width) - 34px);
  --image-size-multiplier: 1.1;
}

.list-unit .list-status-title .stats a {
  color: var(--title-color);
}

.list-unit .list-status-title .text {
  color: var(--title-color);
  width: inherit;
}

.list-unit .list-status-title {
  background-color: var(--main-color);
  width: var(--list-width);
}

.list-table .list-table-data .data a {
  color: var(--main-color) !important;
}

.list-table .list-table-data .data.title .link {
  font-size: 1.3em;
}

.list-table .list-table-header .header-title .link.sort {
  color: var(--main-color);
}

.list-table .list-table-header .header-title .link {
  color: var(--main-color);
}

.status-menu-container .status-menu .status-button {
  color: var(--main-color);
}

.status-menu-container .status-menu .status-button.on {
  color: var(--main-color);
}

.status-menu-container .search-container #search-button {
  color: var(--main-color);
}

.status-menu-container .status-menu .status-button:after {
  background-color: var(--main-color);
}

.list-menu-float .icon-menu svg.icon {
  fill: var(--main-color);
}

.list-table .more-info .more-content a {
  color: var(--main-color);
}

.list-container {
  border-radius: 8px;
  width: var(--list-box-width);
}

#footer-block {
  opacity: 0;
}

.status-menu-container .search-container {
  right: 36px;
}

.list-unit {
  box-shadow: 0px 5px 15px black;
  margin-bottom: 20px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  width: var(--list-width);
}

.status-menu-container {
  margin-bottom: -16px;
  margin-left: 16px;
  width: 1024px;
  background-color: #2c2c2c;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 0px 15px black;
  width: var(--list-width);
  transition: all 0.3s, ease-in-out 0.3s;
}

.status-menu-container.fixed {
  margin-bottom: 0px;
  margin-left: 0px;
  width: var(--list-box-width);
  background-color: #2c2c2c;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: all 0.3s, ease-in-out 0.3s;
}

.list-unit .loading-space {
  height: 0px;
}

.data.status {
  border-radius: 3px;
}

.list-menu-float .icon-menu {
  border-radius: 30px;
}

.list-menu-float {
  border-width: 0;
}

.icon-menu {
  margin-bottom: 24px;
  margin-left: 16px;
  box-shadow: 0px 0px 20px 0px black;
}
.icon-menu .icon {
  margin-left: 2px;
  margin-top: 1px;
}

.link-list-setting {
  border-top-right-radius: 30px;
}

.link-style-setting {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.list-menu-float .icon-menu.setting:hover {
  box-shadow: 15px 24px 80px 8px black;
}
.list-table {
  background-color: #1c1c1c;
}

* {
  font-family: 'Quicksand', sans-serif;
}

.list-unit .list-stats {
  background-color: var(--secondary-color);
  color: white;
  width: var(--list-width);
}

.list-table .list-table-data .data.image .image {
  border-radius: 14px;
  width: calc(48px * var(--image-size-multiplier));
  height: calc(68px * var(--image-size-multiplier));
  transition: all 0.8s, ease-in-out 0.8s;
}
.list-table .list-table-data .data.image .image:hover {
  transition: all 0.8s, ease-in-out 0.8s;
  border-radius: 22px;
  box-shadow: 0px 0px 10px var(--secondary-color);
}

.list-table .list-table-data .data.number {
  font-size: 18px;
  font-weight: 1000;
}

.status-menu-container .status-menu .status-button.on:after, .status-menu .status-button:hover:after {
  border-radius: 3px;
}

.list-table .list-table-data .data.title .add-edit-more, .list-table .list-table-data .data {
  margin-top: 7px;
  font-size: 13px;
}

.list-table .list-table-data .data.title {
  font-size: 11px;
}

input, select, option, label {
  background-color: #2c2c2c !important;
  color: white !important;
  border: 2px solid #6900b9a9 !important;
  border-radius: 8px !important;
}

.advanced-options-button a{
  background-color: var(--main-color) !important;
  border-radius: 12px !important;
  font-size: 16px !important;
}

.advanced-options-button a:hover{
  background-color: #a837ff !important;
  transition: all 0.8s, ease-in-out 0.8s;
  box-shadow: 0px 0px 8px 2px var(--main-color) !important;
}

#advanced-options {
  border-radius: 24px !important;
}

#fancybox-close {
  top: -2px !important;
  right: -8px !important;
}

.mal-modal .mal-modal-dialog .mal-modal-content .mal-modal-header .row.reverse * {
  border-width: 0 !important;
}

.dark-mode .mal-modal .mal-modal-dialog .mal-modal-content .mal-modal-body .broadcasts .broadcast * {
  color: #b24eff;
}

.list-table .list-table-data .data.title .notes textarea{
  background-color: #2c2c2c;
  color: white;
  border-radius: 8px;
}
